<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Physical outcome measures</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'project/css/style.css' %}" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'project/css/mobile.css' %}">
	<script src="{% static 'project/js/mobile.js' %}" type="text/javascript"></script>
</head>
<body>
    <script>
		document.addEventListener("DOMContentLoaded", function(event) {
			if(sessionStorage.getItem("loginSuccess") == "true"){
				document.getElementById("loginword").style.display = "none";
				document.getElementById("loginlogo").style.display = "block";
			}
	  });
	  
	</script>
	<div id="page">
		<div id="header">
			<div>
				<a href="/index" class="logo"><img src="{% static 'project/images/logo.png' %}" width="340" height="55" alt="Logo"></a>
				<ul id="navigation">
					<li>
						<a href="/index">Home</a>
					</li>
					<li class="selected">
						<a href="/physical_outcome_measures">Physical outcome measures</a>
					</li>
					<li>
						<a href="/measurement_research">measurement research</a>	
					</li>
					<li>
						<a href="/self-reported_measures">self-reported measures</a>
						
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a id="loginword" href="/login">Login</a>
					</li>
				</ul>

				<a href="/login" class="login" id="loginlogo" style="display:none"><img src="{% static 'project/images/login.png' %}" width="50" height="50"alt=""></a>
			</div>
		</div>
		<div id="body" class="about">
			<div class="header">
				<div>
					<h1>Do the Calculations</h1>
					<h2>Overview</h2>
					<p>We are currently measuring the physical capabilities of 1000 healthy individuals across the lifespan to help us identify the range of ‘normal’ variation in the healthy population. This information will be used to generate a global database of ‘normal values’. We are also collecting information regarding lifestyle and well-being as well as investigating the ‘gene for speed’ in the healthy population. We hope to better understand the processes of healthy ageing and development, and the link between genetics and physical capability.</p>
					<p>The 1000 Norms Project database will be shared with healthcare professionals around the globe by The University of Sydney via a free, secure online portal. Personal details are not displayed anywhere in the database. This database will be an important tool for the diagnosis and management of disease around the world.</p>
				</div>
			</div>
			<div class="body">
				<div><a href="/ims">
					<img src="{% static 'project/images/iso.jpg' %}" width="500" height="200"alt="Isometric Muscle Strength">
					<h2>Isometric Muscle Strength</h2>
					</a>
				</div>
			</div>
			<div class="footer">
				<div><a href="/jf">
					<img src="{% static 'project/images/jrm.png' %}" width="500" height="200"alt="Joint Range of Motion">
					<h2>Joint Range of Motion</h2>
					</a>
				</div>
			</div>
			<div class="section">
				<div><a href="/fp">
					<img src="{% static 'project/images/f.jpg' %}" width="500" height="200"alt="Joint Range of Motion">
					<h2>Functional Measures</h2>
					</a>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>Find more on</h1>
					<div>
						<a href="https://www.facebook.com/1000NormsProject/" class="facebook">facebook</a>
						<a href="https://twitter.com/1000Norms" class="twitter">twitter</a>

					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2018 BY UNIVERSITY of SYDNEY| ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
